h1{
        font-size: 60px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(173, 83, 140);

}

u{
    color: palevioletred;
}
h3{
    color:darkslategray;
}
.fw-bold.color-blue{
    font-weight: bold;
    color:blue;
}
p{
    color:darkslategray;
    font-size:20px;    
}
h2{
    color: palevioletred;
}
.box1{
    height: 30px;
    width: 150px;
    padding:3%;
    margin-left:40%;
    margin-bottom: 5%;
    margin-top: 0%;
    border-radius: 20px;

}
.box2{
float:right;

}
.box3{
    float:left;
} 
