h1{
    color:rgb(132, 207, 207);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;

}
body{
    background-color:oldlace;
}
a{
    color:darkmagenta;
}